@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 13px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f4f4f4;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6376f1;
    border: 2px solid #f4f4f4;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
  }
}
